body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #9b9b9b; /*#707070;*/
	margin: auto;
	background: black url('../img/frontend/back.jpg') center 0 no-repeat;
}
#content{
	padding: 1px 20px 0 20px;
	margin-top: 20px;
	min-height: 600px;
}

/* ----------------------  Main Elements -------------------------- */

a{
	text-decoration: none;
	color: #F90;
}
a:hover{
	text-decoration: underline;
}
p{
	margin: 0 0 1em;
}
strong{
	font-weight: 700;
}
em{
	font-style: italic;
}

small{
	font-size: 12px;
	color: #666;
}
ul{
	list-style: none;
}

#wrap{
	width: 940px;
	margin: 20px auto;
        padding: 5px 20px;
        text-align: left;
	background: #252525;
}
#menu{
    border-bottom: 1px solid #ccc;
}






/*------------------------- Tabela Skilli i ogĂłlnie -------------------------*/

td{
	text-align: center;
}
table, td{
	border: 1px solid black;
	border-collapse: collapse;
}
.row-1,.row-3{
	background: #1E1E1E;
}
.tabela-skill{
	width: 600px;
}
.lv,.lv-name{
	width: 22px;
	height: 25px;
}
.check{
	background: yellow;
}
.skill{
	text-align: left;
	font-size: 80%;
	font-weight: bold;
}
td.skill{
	color: white;
}
td.lv:hover{
	background: white;
}

/*--------------------- Specjalizacja/Masteries ----------------------*/
.masteries-type{
  width: 940px;
  float: left;
}
.masteries-choose{
  width: 400px;
  height: 280px;
  float: left;
  margin-left: 40px;
}
.mas-name{
  font-size: 120%;
  color: white;
}
.masteries-choose img{
  margin: 2px 0 0 2px;
}
.masteries-choose img:hover{
  border: 2px solid yellow;
  margin: 0px;
}

/*--------------------------- Footer ---------------------------*/

#footer{
	margin-top: 40px;
	padding: 0px 0px 5px 0px;
	color: #575757;
	font-size: 0.86em;
}
#footer p{
	margin: 10px 0 10px 20px;
}


select.sspells{
	width: 150px;
}

/*--------------------------- Summoners spells ---------------------------*/

.sspell{  /*border: 1px solid;*/
  width: 110px;
  height: 100px;
  text-align: center;
  margin: 10px 0 0 10px;
  float: left;
}
.sspell img{
  margin: 1px 0 1px 0;
}
.sspell img:hover{
  border: 1px solid yellow;
  margin: 0;
}
#sspells-box{
  width: 600px;
  height: 330px;
  float:left;
}
#chooseSS{
  width: 300px;
  margin-left: 620px;
}
.highlight-choose1, .highlight-choose2{
  border: 1px solid red;
  margin: 0;
}

/*-------------------------------- Runes -------------------------------*/

.runes-button li{
  width: 100px;
  height: 30px;
  float: left;
  list-style: none;
  text-align: center;
  border: 1px solid;
}
.runes-button li:hover{
  background: #484848;
}
.runes-button-selected{
    border-bottom-style: none !important;
}
.rune-type{
    width: 100%;
    float: left;
/*     border: 1px solid; */
/*     margin-top: -1px; */
}
.rune{
    width: 310px;
    height: 90px;
    margin: 1px;
    float: left;
}
.rune-hover{
    border: 1px solid yellow;
    margin: 0;
}
.mini{
    font-style: italic;
    font-size: 90%;
}
.highlight-rune{
    border: 1px solid red;
    margin: 0;
}

/*-------------------------------- Build -------------------------------*/

#items-box{
  position: fixed;
  margin: 0;
  top: 200px;
  left: 850px;
  width: 250px;
  height: 350px;
}
#items-box-content{
  border: 1px solid gray;
  height: 300px;
}
#items-box-content img{
  margin-right: -1px;
}
.item-type{
  width: 100%;
  float: left;
  display: none;
}
ul.items-button{
  width:248px;
}
.items-button li{
  width: 60px;
  height: 20px;
  float: left;
  list-style: none;
  text-align: center;
  border: 1px solid;
  font-size: 80%;
}
.items-button li:hover{
  background: #484848;
}
.button-selected{
  border-bottom-style: none !important;
}

.kat-type{
  width: 100%;
  float: left;
  display: none;
}
ul.kat-button{
  margin-left: -1px;
  width: 248px;
}
.kat-button li{
  width: 60px;
  height: 20px;
  float: left;
  list-style: none;
  text-align: center;
  border: 1px solid;
  font-size: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 10px;
}
.kat-button li:hover{
  background: #484848;
}

/*--------------Dragable Build------------*/
#left{
  width: 400px;
  height: auto;
  border: 1px solid gray;
}
#left h3{
  margin: 0 0 10px 0;
}
.wstep-textarea{
  width: 400px;
  height: 50px;
  margin-bottom: 15px;
}
.left-dragbox{
  width: 100%;
  height: 86px;
  padding-top: 6px;
  border: 1px solid gray;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}
#left span{
  float: left;
}
.drop-box{
  width: 38px;
  height: 38px;
  margin: 0px 0 0 10px;
  float: left;
  border: 1px solid gray;
  margin-right: 10px;
  display: none;
}
.dragbox-top{
  width: 100%;
  height: 40px;
}
.drop-box-dragger{
  position: absolute;
  width: 336px;
  height: 8px;
  margin: 0 0 0 62px;
  border: 1px dotted gray;
  z-index: 0;
}
#left .input-name{
  width: 328px;
  margin: 10px 0 0 0;
  background: transparent;
  color: white;
  border: 1px solid gray;
  display: none;
}
.drop-box-area{
  width: 378px;
  height: 40px;
  margin-left: 22px;
  background: transparent;
  color: white;
  border: 1px solid gray;
  display: none;
}
span.ikonka{
  position: absolute;
  margin: -4px 0 0 310px;
  display: none;
  z-index: 10;
}
span.ikonka:hover{
  border: 1px solid red;
  cursor: pointer;
}

/*----------------Tooltip------------------*/

.tooltip{
  display: none;
}
.tooltip-left {
  float: left;
  margin: 5px;
  width: 38px;
  height: 100%;
  text-align: center;
  color: yellow;
}
.tooltip-mini{
  font-size: 80%;
  margin-left: 5px;
}
.tooltip-name{
  color: white;
  font-weight: bold;
  margin-left: 5px;
}
#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid gray;
  background-color: black;
  padding: 5px;
  opacity: 0.85;
  min-width: 150px;
}
#tooltip h3, #tooltip div {
  margin: 0;
}