body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #9b9b9b; /*#707070;*/
	margin: auto;
	background: black /*url('../img/frontend/back.jpg') center 0 no-repeat*/;
}
#content{
	padding: 1px 20px 0 20px;
	margin-top: 20px;
	min-height: 600px;
}

/* ----------------------  Main Elements -------------------------- */

a{
	text-decoration: none;
	color: #F90;
}
a:hover{
	text-decoration: underline;
}
p{
	margin: 0 0 1em;
}
strong{
	font-weight: 700;
}
em{
	font-style: italic;
}

small{
	font-size: 12px;
	color: #666;
}
ul{
	list-style: none;
}

#wrap{
	width: 940px;
	margin: 20px auto;
        padding: 5px 20px;
        text-align: left;
	background: #252525;
}
#menu{
    border-bottom: 1px solid #ccc;
}
div.clear{
    clear: both;
}
.cake-sql-log{
    font-size: 12px;
}


/*----------------=Main elementr-----------*/
#menu .done{
    display: inline;
}
#menu .done a{
    color: gray;
}
#menu a.active{
    color: white;
}
#menu a.inactive{
    color: gray;
    text-decoration: line-through;
}


/*------------------------- Tabela Skilli i ogolnie -------------------------*/
#BuildSkillsForm{
    margin: 50px 0 0 0;
}
#BuildSkillsForm label{
    width: 82px;
    display: inline-block;
}
#BuildSkillsForm .text{
    float: left;
}
#BuildSkillsForm .text input{
    width: 250px;
    height: 20px;
}
#BuildSkillsForm div.submit{
    float: left;
}
#skills-header-background{
    padding: 10px 0 50px 0;
    background: url('../img/generator/skills-arrows.png') 228px 0 no-repeat;
}
td{
	text-align: center;
}
table, td{
	border: 1px solid gray;
	border-collapse: collapse;
}
.row-1,.row-3{
	background: #3E1E1E;
}
.tabela-skill{
	width: 800px;
}
.lv,.lv-name{
	width: 30px;
	height: 25px;
}
.check{
	background: yellow;
}
.skill{
	text-align: left;
	font-size: 80%;
	font-weight: bold;
}
td.skill{
	color: white;
}
td.skill img{
    width: 25px;
    height: 25px;
}
td.lv:hover{
	background: white;
}
.sq input:hover{
    outline: 1px solid green;
}
.sq input:checked{
    outline: 1px solid yellow;
}


/*--------------------------- Footer ---------------------------*/

#footer{
	margin-top: 40px;
	padding: 0px 0px 5px 0px;
	color: #575757;
	font-size: 0.86em;
}
#footer p{
	margin: 10px 0 10px 20px;
}


select.sspells{
	width: 150px;
}

/*--------------------------- Summoners spells ---------------------------*/

.sspell{  /*border: 1px solid;*/
  width: 100px;
  height: 90px;
  text-align: center;
  margin: 10px 0 0 10px;
  float: left;
}
.sspell {
  border: 1px solid transparent;
}
.sspell:hover{
  border: 1px solid yellow;
}
#sspells-box{
  width: 600px;
  height: 330px;
  float:left;
}
#chooseSS{
  width: 300px;
  margin-left: 620px;
}
.highlight-choose1, .highlight-choose2{
  border: 1px solid red;
}

/*-------------------------------- Runes -------------------------------*/

.runes-button li{
  width: 100px;
  height: 30px;
  float: left;
  list-style: none;
  text-align: center;
  border: 1px solid;
}
.runes-button li:hover{
  background: #484848;
}
.runes-button-selected{
    border-bottom-style: none !important;
}
.rune-type{
    width: 100%;
    float: left;
/*     border: 1px solid; */
/*     margin-top: -1px; */
}
.rune{
    width: 310px;
    height: 90px;
    margin: 1px;
    float: left;
}
.rune-hover{
    border: 1px solid yellow;
    margin: 0;
}
.mini{
    font-style: italic;
    font-size: 90%;
}
.highlight-rune{
    border: 1px solid red;
    margin: 0;
}

/*-------------------------------- Build -------------------------------*/

#items-box{
  position: fixed;
  margin: 0;
  top: 200px;
  left: 850px;
  width: 250px;
  height: 350px;
}
#items-box-content{
  border: 1px solid gray;
  height: 300px;
}
#items-box-content img{
  margin-right: -1px;
}
.item-type{
  width: 100%;
  float: left;
  display: none;
}
ul.items-button{
  width:248px;
}
.items-button li{
  width: 60px;
  height: 20px;
  float: left;
  list-style: none;
  text-align: center;
  border: 1px solid;
  font-size: 80%;
}
.items-button li:hover{
  background: #484848;
}
.button-selected{
  border-bottom-style: none !important;
}

.kat-type{
  width: 100%;
  float: left;
  display: none;
}
ul.kat-button{
  margin-left: -1px;
  width: 248px;
}
.kat-button li{
  width: 60px;
  height: 20px;
  float: left;
  list-style: none;
  text-align: center;
  border: 1px solid;
  font-size: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 10px;
}
.kat-button li:hover{
  background: #484848;
}

/*--------------Dragable Build------------*/
#left{
  width: 400px;
  height: auto;
  border: 1px solid gray;
}
#left h3{
  margin: 0 0 10px 0;
}
.wstep-textarea{
  width: 400px;
  height: 50px;
  margin-bottom: 15px;
}
.left-dragbox{
  width: 100%;
  height: 86px;
  padding-top: 6px;
  border: 1px solid gray;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}
#left span{
  float: left;
}
.drop-box{
  width: 38px;
  height: 38px;
  margin: 0px 0 0 10px;
  float: left;
  border: 1px solid gray;
  margin-right: 10px;
  display: none;
}
.dragbox-top{
  width: 100%;
  height: 40px;
}
.drop-box-dragger{
  position: absolute;
  width: 336px;
  height: 8px;
  margin: 0 0 0 62px;
  border: 1px dotted gray;
  z-index: 0;
}
#left .input-name{
  width: 328px;
  margin: 10px 0 0 0;
  background: transparent;
  color: white;
  border: 1px solid gray;
  display: none;
}
.drop-box-area{
  width: 378px;
  height: 40px;
  margin-left: 22px;
  background: transparent;
  color: white;
  border: 1px solid gray;
  display: none;
}
span.ikonka{
  position: absolute;
  margin: -4px 0 0 310px;
  display: none;
  z-index: 10;
}
span.ikonka:hover{
  border: 1px solid red;
  cursor: pointer;
}

/*----------------Tooltip------------------*/

.tooltip{
  display: none;
}
.tooltip-left {
  float: left;
  margin: 5px;
  width: 38px;
  height: 100%;
  text-align: center;
  color: yellow;
}
.tooltip-mini{
  font-size: 80%;
  margin-left: 5px;
}
.tooltip-name{
  color: white;
  font-weight: bold;
  margin-left: 5px;
}
#tooltip {
  position: absolute;
  z-index: 3000;
  border: 1px solid gray;
  background-color: black;
  padding: 5px;
  opacity: 0.85;
  min-width: 150px;
}
#tooltip h3, #tooltip div {
  margin: 0;
}


/*------------Nowe----------*/
/*----------=Index-choose-build-----------*/

.build{
    width: 150px;
    height: auto;
    padding: 0 0 10px 0;
    float: left;
    text-align: center;
    border: 1px solid transparent;
}
.build:hover{
    border: 1px solid gray;
    text-decoration: none;
}

#list-champions a{
    width: 100px;
    min-height: 100px;
    height: auto;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
}
#list-champions a:hover{
    border: 1px solid gray;
    text-decoration: none;
}

/*----------=Skills---------*/
.skill{
    font-size: 14px;
}
.skill label{
    width: 80px;
    display: inline-block;
}
.skill input{
    width: 300px;
}
.skill p{
    margin-left: 80px;
}
.skill textarea{
    width: 800px;
    height: 80px;
}
.skill-desc{
    border: 1px solid orange;
}
#SkillSkillsForm .submit{
    float: left;
}
#SkillSkillsForm .next{
    float: right;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid orange;
    padding: 5px;
    background-color: black;
}
#SkillSkillsForm .next:hover{
    background-color: gray;
}

/*-------------=Masteries------------*/
.masteries{
    border-bottom: 1px solid gray;
}
.masteries a{
    margin: 20px;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0 0 20px #ccc;
}
.masteries a:hover{
    border: 1px solid orange;
    box-shadow: 0 0 30px red;
}
.masteries img{
    width: 400px;
    display: block;
}
.masteries .active{
    opacity: 0.5;
    border: 1px solid green;
    box-shadow: 0 0 30px green;
}


