body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #9b9b9b; /*#707070;*/
	margin: auto;
	background: black /*url('../img/frontend/back.jpg') center 0 no-repeat*/;
}
#content{
	padding: 1px 20px 0 20px;
	margin-top: 20px;
	min-height: 600px;
}

/* ----------------------  Main Elements -------------------------- */

a{
	text-decoration: none;
	color: #F90;
}
a:hover{
	text-decoration: underline;
}
p{
	margin: 0 0 1em;
}
strong{
	font-weight: 700;
}
em{
	font-style: italic;
}

small{
	font-size: 12px;
	color: #666;
}
ul{
        margin: 0;
        padding: 0;
	list-style: none;
}

#wrap{
	width: 940px;
	margin: 20px auto;
        padding: 5px 20px;
        text-align: left;
	background: #252525;
}
#menu{
    border-bottom: 1px solid #ccc;
}
div.clear{
    clear: both;
}
.green{
    color: green;
}
.red{
    color: red;
}
.cake-sql-log{
    font-size: 12px;
}


/*----------------=Main elementr-----------*/
#userbox{
    padding: 3px 10px;
    background: #666;
    border: 1px solid black;
    box-shadow: 0 0 20px black;
    top: 5px;
    right: 0px;
    position: absolute;
    text-align: right;
    opacity: 0.8;
}

#menu .done{
    display: inline;
}
#menu .done a{
    color: gray;
}
#menu a.active{
    color: white;
}
#menu a.inactive{
    color: gray;
    text-decoration: line-through;
}
a.exit-generator{
    margin: 0 0 0 780px;
    color: gray;
}

/*------------------------- Tabela Skilli i ogolnie -------------------------*/
#BuildSkillsForm{
    margin: 50px 0 0 0;
}
#BuildSkillsForm label{
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    /*display: inline-block;*/
    float: left;
}
#BuildSkillsForm .text input{
    width: 250px;
    height: 20px;
}
#BuildSkillsForm .textarea textarea{
    width: 250px;
    height: 150px;
}
#BuildSkillsForm p.counter{
    margin: 5px 0 0 270px;
    font-size: 14px;
    color: green;
}
#BuildSkillsForm div.submit{
    float: left;
}
#skills-header-background{
    padding: 10px 0 50px 0;
    /*background: url('../img/generator/skills-arrows.png') 228px 0 no-repeat;*/
}
td{
	text-align: center;
}
table, td{
	border: 1px solid gray;
	border-collapse: collapse;
}
.row-1,.row-3{
	background: #3E1E1E;
}
.tabela-skill{
	width: 800px;
}
.lv,.lv-name{
	width: 30px;
	height: 25px;
}
.check{
	background: yellow;
}
.skill{
	text-align: left;
	font-size: 80%;
	font-weight: bold;
}
td.skill{
	color: white;
}
td.skill img{
    width: 25px;
    height: 25px;
}
td.lv:hover{
	background: white;
}
.sq input:hover{
    outline: 1px solid green;
}
.sq input:checked{
    outline: 1px solid yellow;
}

.submit input{
    width: 150px;
    height: 40px;
    float: right;
    margin: 20px 100px 0 0;
}
.display{
    display: block !important;
}

/*----------=Skills---------*/
.skill{
    font-size: 14px;
}
.skill label{
    width: 80px;
    display: inline-block;
}
.skill input{
    width: 300px;
}
.skill p{
    margin-left: 80px;
}
.skill textarea{
    width: 800px;
    height: 80px;
}
.skill-desc{
    border: 1px solid orange;
}
#SkillSkillsForm .submit{
    float: left;
}
#SkillSkillsForm .next{
    float: right;
    font-size: 18px;
    margin-top: 10px;
    border: 1px solid orange;
    padding: 5px;
    background-color: black;
}
#SkillSkillsForm .next:hover{
    background-color: gray;
}


/*--------------------------- Footer ---------------------------*/

#footer{
	margin-top: 40px;
	padding: 0px 0px 5px 0px;
	color: #575757;
	font-size: 0.86em;
}
#footer p{
	margin: 10px 0 10px 20px;
}


select.sspells{
	width: 150px;
}

/*----------=Index-choose-build-----------*/

.build{
    width: 150px;
    height: auto;
    padding: 0 0 10px 0;
    float: left;
    text-align: center;
    border: 1px solid transparent;
}
.build:hover{
    border: 1px solid gray;
    text-decoration: none;
}

#list-champions a{
    width: 100px;
    min-height: 100px;
    height: auto;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
}
#list-champions a:hover{
    border: 1px solid gray;
    text-decoration: none;
}


/*-------------=Masteries------------*/
.masteries{
    border-bottom: 1px solid gray;
}
#BuildMasteriesForm div{
    float: left;
    margin: 0 20px 0 0;
}
#BuildMasteriesForm .submit input{
    width: 100px;
    height: 30px;
    margin: 0;
}
.masteries a{
    margin: 20px;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0 0 20px #ccc;
}
.masteries a:hover{
    border: 1px solid orange;
    box-shadow: 0 0 30px red;
}
.masteries img{
    width: 400px;
    display: block;
}
.masteries .active{
    opacity: 0.5;
    border: 1px solid green;
    box-shadow: 0 0 30px green;
}
.masteries p{
    text-align: center;
    margin: 0;
}

/*--------------------------- Summoners spells ---------------------------*/

.sspell{  /*border: 1px solid;*/
  width: 100px;
  height: 90px;
  text-align: center;
  margin: 10px 0 0 10px;
  float: left;
}
.sspell {
  border: 1px solid transparent;
  opacity: 0.6;
}
.sspell:hover{
  border: 1px solid yellow;
  opacity: 1;
}
#sspells-box{
  width: 600px;
  height: 330px;
  float:left;
}
#chooseSS{
  width: 300px;
  margin-left: 620px;
}
.highlight-choose1, .highlight-choose2{
  border: 1px solid green;
  opacity: 1;
}

/*-------------------------------- Runes -------------------------------*/

.runes-button li{
  width: 100px;
  height: 30px;
  float: left;
  list-style: none;
  text-align: center;
  border: 1px solid;
}
.runes-button li:hover{
  background: #484848;
}
.runes-button-selected{
    border-bottom-style: none !important;
}
.rune-type{
    width: 100%;
    float: left;
}
.rune-column{
    width: 310px;
    height: 90px;
    border: 1px solid transparent;
    float: left;
}
.rune-column:hover{
    border: 1px solid yellow;
}
.mini{
    font-style: italic;
    font-size: 90%;
}
.highlight-rune{
    border: 1px solid red;
    opacity: 0.6;
}

/*-------------------------------- Build -------------------------------*/

#items-destination{
    /*width: 100%;*/
    height: 100px;
    background: url('../img/generator/items-next.png') 0 18px repeat-x;
    padding: 0 0 0 10px;
    margin: 30px 0 0 0;
}
.item-box{
    width: 110px;
    height: 100%;
    margin: 0 20px;
    float: left;
}
.item-box .item-box-img{
    width: 64px;
    height: 64px;
    background: url('../img/generator/item-border.png') 0 0 no-repeat;
    margin: 0 auto;
    padding: 5px;
    position: relative;
}
.item-box .item-box-img img{
    width: 64px;
    height: 64px;
    display: none;
}
.item-box p{
    width: 100%;
    height: 20px;
    font-size: 12px;
    text-align: center;
    margin: 5px 0 0 0;
}
.item-box-img a.item-delete{
    top: 0;
    right: 4px;
    position: absolute;
    z-index: 100;
    color: red;
    background-color: black;
    font-size: 20px;
    line-height: 12px;
    cursor: pointer;
    display: none;
}
.item-box-img a.item-delete:hover{
    text-decoration: none;
}
.item-box-img:hover a.item-delete{
    display: block;
}

#items-destination .items-highlight {
    background-color: #FFE45C;
}

input#items-search{
    width: 400px;
    height: 25px;
    font-size: 18px;
    margin: 40px 0 10px 250px;
}

#items-all{
    width: 100%;
    height: auto;
    min-height: 300px;
}

#items-all img{
    width: 38px;
    height: 38px;
    margin: 1px;
    border: 1px solid transparent;
    cursor: pointer;
    float: left;
}
#items-all img:hover{
    border: 1px solid yellow;
}

/*------------Description------------*/
#BuildDescriptionForm textarea{
    width: 600px;
    height: 400px;
    float: left;
}
#desc-right-column{
    width: 260px;
    height: auto;
    float: right;
}
#desc-champs img{
    width: 32px;
    height: 32px;
    float: left;
    margin: 1px;
}
#desc-left-column{
    width: 660px;
    height: auto;
    float: left;
}
#tinymce{
    width: 660px;
    min-height: 500px;
}
#desc-items #items-search{
    margin: 0 0 10px 100px;
}
#desc-items #items-all img{
    width: 32px;
    height: 32px;
}

/*----------------------Styling build description text------------------*/
span.ss-desc{
    color: #F7E268;
}

/*----------------=Preview---------------*/
#preview{
    height: 800px;
}
#preview-accept{
    position: fixed;
    top: 50px;
    right: 60px;
}
#preview-accept .submit input{
    float: none;
}

/*---------------=Done------------*/
#done{
    width: auto;
    height: 600px;
    display: block;
    text-align: center;
}
#done a{
    /*float: left;*/
    margin: 0 60px;
    display: inline-block;
}