/*@font-face{
    font-weight: normal;
    font-style: normal;
    font-variant: normal;

    font-family: 'Charlemagne Bold';
    src: url('charlb.ttf') format('truetype');
}*/
/*----Reset styles----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------------------Own styles:----------------------------------*/

body{
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #9b9b9b;
    margin: auto;
    text-align: center;
    background-color: black;
}
a{
    text-decoration: none;
    color: #F90;
}
a:hover{
    text-decoration: underline;
}
strong{
    font-weight: 700;
}
em{
    font-style: italic;
}
ul{
    list-style: none;
}
.clear{
    clear: both;
}
h1,h2,h3,h4,h5,h6{
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    font-size: 20px;
    font-weight: 100;
    line-height: 130%;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
h1{
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 30px;
    background: black url('../img/frontend/header.png') 0 0 no-repeat;
    padding: 0 0 0 15px;
}
h2{
    width: 400px;
    height: 30px;
    padding: 0 0 0 5px;
    margin: 0 0 15px 0;
    font-size: 24px;
    line-height: 35px;
    background: black url('../img/frontend/header-smaller-red.png') 0 0 no-repeat;
}
h3{
    font-size: 18px;
}
h4{
    width: 100%;
    height: 30px;
    padding: 0 0 0 5px;
    margin: 0 0 15px 0;
    line-height: 32px;
    background: black url('../img/frontend/header-smaller-red.png') 0 0 no-repeat;
}

/*-------------------Main Divs------------------------*/
#wrap{
    width: 980px;
    margin: auto;
    text-align: left;
    background-color: black;
}
#header{
    width: 980px;
    background-color: black;
    text-align: center;
}
#header-nav{
    margin: 0 0 10px 0;
}
#header-nav a{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    display: inline-block;
}
#main{
    width: 630px;
    min-height: 600px;
    padding: 0 0 0 20px;
    float: left;
}
#main h1{
    margin-left: -20px;
}

/*----------------------Sidebar-----------------------*/
#sidebar{
    width: 300px;
    height: auto;
    background-color: #190000;
    padding: 0 10px;
    float: right;
}

#search, #rotation, #new-builds, #facebook{
    margin: 10px 0 0 0;
    padding: 0 0 30px 0;
    background: black url('../img/frontend/news-background.png') 0 100% repeat-x;
}

#new-builds img{
    float: left;
}
#new-builds h5{
    width: 200px;
    height: 64px;
    font-size: 22px;
    line-height: 64px;
    margin: 0 0 0 10px;
    float: left;
}
#new-builds a{
    width: 100%;
    height: 64px;
    color: white;
    display: block;
    border-radius: 3px;
}
#new-builds a:hover{
    text-decoration: none;
    box-shadow: 0 0 5px #ccc;
    
}
#facebook h4{
    background: black url('../img/frontend/header-smaller-blue.png') 0 0 no-repeat;
}

/*----------------------News--------------------------*/
#newsy{
    background-color: #190000;
}
div.news{
    width: 590px;
    height: auto;
    min-height: 100px;
    background: black url('../img/frontend/news-background.png') 0 100% repeat-x;
    padding: 0 0 20px 0;
    margin: 0 0 20px 20px;
}
.news h2 a{
    color: white;
}
.news a.news-img{
    width: 64px;
    height: 64px;
    margin: 0 5px 0 10px;
    float: left;
}
.news div.news-title{
    width: 110px;
    height: 64px;
    text-align: center;
    float: left;
}
.news div.news-title a{
    color: white;
    font-size: 16px;
}
.news div.news-text{
    width: 390px;
    height: auto;
    float: right;
}
.news div.news-text a{
    color: #970000;
    margin: 5px 0 0 0;
    display: block;
}
.builds-thumb{
    float: left;
    margin: 0 5px 0 10px;
}

/*---------------------Poradnik(build)-page-----------------------*/
#poradnik{
    padding: 0 15px;
    background-color: #190000;
}
#poradnik h4{
    margin: 0;
}
#shortcut{
    width: 100%;
    height: 380px;
}
#shortcut h2{
    font-size: 35px;
    background: none;
}
#introduction{
    width: 400px;
    height: 170px;
}
#ss-runes-panel{
    width: 350px;
    height: 55px;
}
#ss{
    float: left;
}
#runes{
    float: left;
}
#items{
    width: 100%;
    height: 70px;
    clear: both;
}

#shortcut, #skill_sequence, #masteries, #description{
    margin: 0 0 10px 0;
    padding: 0 0 30px 0;
    background: black url('../img/frontend/news-background.png') 0 100% repeat-x;
}
#skill_sequence{
    width: 100%;
    background: black;
}
#skill_sequence th{
    width: 100px;
}
#skill_sequence td{
    width: 15px;
    height: 15px;
}
#masteries{
    margin-top: 20px;
    margin-bottom: 0;
}
#masteries h4{
    margin-bottom: 5px;
}
#description h4{
    margin-bottom: 10px;
}
#description p{
    margin: 0 0 0 20px;
    font-size: 15px;
}

#another-builds{
    width: 100%;
    height: auto;
    background: black;
}

/*--------------------------- Footer ---------------------------*/

#footer{
    margin-top: 40px;
    padding: 0px 0px 5px 0px;
    color: #575757;
    font-size: 0.86em;
}
#footer p{
    margin: 10px 0 10px 20px;
}


/*----------------------------Other------------------------*/
#pagination{
    text-align: center;
    color: #970000;
    padding: 0 0 10px 20px;
}
#pagination a{
    color: #970000;
}
#pagination span.current{
    color: red;
    font-size: 18px;
}

.breadcrumb{
    font-size: 90%;
    margin: 6px 0 10px 0;
}



/* The Nivo Slider styles */
.nivoSlider {
    position:relative;
    width:600px; /* Change this to your images width */
    height:250px; /* Change this to your images height */
    background:url(../img/nivo-slider/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

.nivoSlider {
    position:relative;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
}
/* Caption styles */
.nivo-caption {
    position:absolute;
    left:0px;
    bottom:0px;
    background:#000;
    color:#fff;
    opacity:0.8; /* Overridden by captionOpacity setting */
    width:100%;
    z-index:8;
}
.nivo-caption p {
    padding:5px;
    margin:0;
}
.nivo-caption a {
    display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a{
    width: 25px;
    height: 42px;
    position:absolute;
    top:45%;
    z-index:9;
    cursor:pointer;
    background: url('../img/nivo-slider/arrows.png') 0 0 no-repeat;
}
a.nivo-nextNav{
    background-position: 100% 0;
}
.nivo-prevNav {
    left:0px;
}
.nivo-nextNav {
    right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
    width: 15px;
    height: 15px;
    position:relative;
    z-index:9;
    cursor:pointer;
    color: black;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-top: none;
    opacity: 0.5;
}
.nivo-controlNav a.active {
    font-weight:bold;
    background-color: #ccc;
    opacity: 0.9;
}