#tooltip {
    width: 400px;
    height: auto;
    max-height: 800px;
    padding: 5px;
    position: absolute;
    z-index: 3000;
    background: #000000;
    background: rgba(0,0,0,0.8);
    border: 1px dashed rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
}
#tooltip h3, #tooltip div {
    margin: 0;
}
#tooltip h3, #tooltip h4{
    color: white;
    background: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 22px;
}
#tooltip h4{
    font-size: 14px;
    line-height: 14px;
}

#tooltip img{
    float: left;
}
#tooltip-item div, #tooltip-ss div, #tooltip-rune div, #tooltip-champ div, #tooltip-skill div{
    width: 330px;
    float: right;
}
#tooltip-ss img{
    float: none;
}
#tooltip-ss div.ss-lv{
    width: 60px;
    float: left;
}

#tooltip-champ div span{
    margin: 0 25px 0 0;
    display: inline-block;
}
#tooltip-champ div img{
    float: none;
    position: absolute;
    margin: -5px 0 0 0;
}
